<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Google Font links-->
      <!--Body fonts-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
      <!--Heading fonts-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
      <!----------->
      <!--Bootstrap Icon links-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
      <!------------------------>
      <!--CSS Style to use google fonts-->
      <script src='https://cdn.plot.ly/plotly-2.25.2.min.js'></script>
      <style>
        body {
          font-family: 'Rubik', sans-serif;
        }
        h5 {
          font-family: 'Merriweather',serif;
        }
      </style>
      <!--------------------------------->
    <title>Admin Dashboard</title>
</head>
<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><h5>LankaBangla</h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="dashboard">Account Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BO Form <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Stock information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="clientForm">Client Information Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index">Home</a>
          </li>
      </ul>
    </div>
</nav>
  <!------------------>
  <!--Charts using bootstrap's card component-->  
  <!--Pie chart-->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Number of Male & Female BO A/C holders in a Branch</h5>
          <div id="myDivPerBranch" class="container-fluid"></div>
              <script>
                var male_data_per_branch = {
                  values: [12,8,0],
                  labels: ['Online','Agrabad','Principal'],
                  name:'Male',
                  type: 'pie'
                  };

                  var female_data_per_branch = {
                    values: [1,3,1],
                    labels: ['Online','Agrabad','Principal'],
                    name:'Female',
                    type: 'pie'
                  };

                var data_per_branch = [male_data_per_branch, female_data_per_branch];

                var layout_per_branch = {
                  height: 400,
                  width: 500
                };

                Plotly.newPlot('myDivPerBranch', data_per_branch, layout_per_branch);
            </script>
          </div>
      </div>
      <!---------------------------------->
      <div class="card" >
        <div class="card-body">
            <h5 class="card-title">No. of Male and Female A/C holders per division</h5>
            <div id="myDivPerDivision" class="container-fluid"></div>
                <script>
                  var male_data_per_div = {
                    x: ['DHAKA','BARISAL','CHATTOGRAM','MUNSHIGANJ','KHULNA','NILPHAMARI ','BRAHMANBARIA','SHERPUR','TANGAIL','BHOLA','JASHORE','MUNSHIGANJ SADAR','CHANDPUR'],
                    y: [8,0,4,0,1,0,1,1,1,1,1,1,1],
                    name:'Male',
                    type: 'bar'
                    };

                    var female_data_per_div = {
                      x: ['DHAKA','BARISAL','CHATTOGRAM','MUNSHIGANJ','KHULNA','NILPHAMARI ','BRAHMANBARIA','SHERPUR','TANGAIL','BHOLA','JASHORE','MUNSHIGANJ SADAR','CHANDPUR'],
                      y: [2,1,0,1,0,1,0,0,0,0,0,0,0],
                      name:'Female',
                      type: 'bar'
                    };

                  var data_per_div = [male_data_per_div, female_data_per_div];

                  var layout_per_div = {barmode: 'group'};

                  Plotly.newPlot('myDivPerDivision', data_per_div, layout_per_div);
              </script>
        </div>
      </div>
      <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Total of BO A/C holders per division</h5>
            <div id="myDivTotalPerDivision" class="container-fluid"></div>
                <script>
                  var data_per_div = {
                    x: ['DHAKA','BARISAL','CHATTOGRAM','MUNSHIGANJ','KHULNA','NILPHAMARI ','BRAHMANBARIA','SHERPUR','TANGAIL','BHOLA','JASHORE','MUNSHIGANJ SADAR','CHANDPUR'],
                    y: [10,1,4,1,1,1,1,1,1,1,1,1,1],
                    name:'Male',
                    type: 'bar'
                    };
                  var total_data_per_div = [data_per_div];

                  var total_layout_per_div = {barmode: 'group'};

                  Plotly.newPlot('myDivTotalPerDivision', total_data_per_div, total_layout_per_div);
              </script>
        </div>
      </div>
      <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Number of BO A/C holders per Branch In a Thana</h5>
            <!-- <div id="myDivTotalPerBranchInAThana" class="container-fluid"></div>
                <script>
                  var data_per_div = {
                    x: ['DHAKA','BARISAL','CHATTOGRAM','MUNSHIGANJ','KHULNA','NILPHAMARI ','BRAHMANBARIA','SHERPUR','TANGAIL','BHOLA','JASHORE','MUNSHIGANJ SADAR','CHANDPUR'],
                    y: [10,1,4,1,1,1,1,1,1,1,1,1,1],
                    name:'Male',
                    type: 'bar'
                    };
                  var total_data_per_div = [data_per_div];

                  var total_layout_per_div = {barmode: 'group'};

                  Plotly.newPlot('myDivTotalPerBranchInAThana', total_data_per_div, total_layout_per_div);
              </script> -->
        </div>
      </div>
    </div>
    <!--Getting all Accounts-->
    <!-- <div class="card">
      <div class="card-body">
        <h5 class="card-title">Show Clients</h5>
        <form action="/adminDash" enctype="multipart/form-data" method="get" >
          <button type="submit" class="btn btn-primary">Submit</button>
          <div class="card-body">
            <p class="card-text">
              <ul>
                
              </ul>
            </p>
          </div>
        </form>
      </div>
    </div> -->
    <!-----Posting a new client------>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create a new Client</h5>
        <form action="/adminDash" enctype="multipart/form-data" method="post" >
          <div class="form-group">
            <label for="bankAccountNum">Bank Account: </label>
            <input type="text" class="form-control" name="bankAccountNum" id="bankAccountNum">
          </div>
          <div class="form-group">
            <label for="clientName">Client Name:</label>
            <input type="text" class="form-control" name="clientName" id="clientName">
          </div>
          <div class="form-group">
            <label for="clientBoNum">BO Number: </label>
            <input type="text" class="form-control" name="clientBoNum" id="clientBoNum">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your Query </h5>
          
        </div>
      </div>
    </div>

  <!------------------------------------------->
    <!-- script tags should be added before the body tag ends-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>